.trade-list__container {
  height: 380px;
}

.trade-list__vwsp--clarification {
  font-style: italic;
  margin-top: 1em;
  display: inline-block;
  font-size: 0.8em;
  position: absolute;
  bottom: 17px;
  left: 24px;
}
